<h1>Create page</h1>
<form action="/create" method="post">
 <div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name" name="name">
 </div>
 <div class="mb-3">
  <label for="description" class="form-label">Description</label>
  <textarea class="form-control" id="description" rows="3" name="description"></textarea>
 </div>
 <div class="mb-3">
  <label for="year" class="form-label">Year</label>
  <input type="text" class="form-control" id="year" name="year">
 </div><div class="mb-3">
  <label for="imageUrl" class="form-label">Image</label>
  <input type="text" class="form-control" id="imageUrl" name="imageUrl">
 </div>
 <button class="btn btn-primary">Create</button>

</form>