<form class="row g-3" style="max-width: 80%; margin-left:20px;">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Full name</label>
    <input type="text" class="form-control" id="inputAddress">
  </div>
  <div class="col-6">
    <label for="inputAddress2" class="form-label">Userneme</label>
    <input type="text" class="form-control" id="inputAddress2">
  </div>
  
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Age</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>